<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>baseUrl</key>
		<string>https://api.themoviedb.org/3/movie/</string>
		<key>imageUrl</key>
		<string>https://image.tmdb.org/t/p/w500</string>
		<key>apiKey</key>
		<string>api_key=cc1b2b728f5759b1c39c4c4ba43d4413</string>
		<key>accessToken</key>
		<string>Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYzFiMmI3MjhmNTc1OWIxYzM5YzRjNGJhNDNkNDQxMyIsInN1YiI6IjY0YjIyOTg3MjNkMjc4MDEwNzMwMTQxYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.8mVM2z2AnYyTGFMXQcOjtOFVan_zrGuymnTTLgFp1As</string>
	</dict>
</dict>
</plist>
